Body {
  font-family: Arial, Helvetica, sans-serif;
  background: black;
  color: white;
}

header {
  display: flex;
  margin: 0;
  background-color: Black;
}

.container h1 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  padding-top: 60px;
  margin: 100;
  margin-left: 200;
  padding: 50;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.8;
}

.container p {
  font-family: monospace;
  margin: 0;
}

header img {
  width: 400px;
  background-color: black;
  vertical-align: bottom;
}

.container {
  background: black;
  font-size: large;
  color: white;
  text-align: center;
  
}

.sns img {
  width: 30px;
}

section {
  text-align: center;
}

.profile img {
  width: 160px;
  border-radius: 10%;
}


.icon {
  font-size: 25px;
  text-align: center;
}

.icon ul,
.icon a {
  list-style: none;
  width: auto;
  margin: 20px;
  text-decoration: none;
  background-color: #fff0f5;
  color: #333;
  margin: 0;
}

.icon:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
}