@media screen and(max-width: 480px) {
  img {
  border: 0;
  }
  }
@media screen and(min-width: 1280px) {
  img {
  border: 1px solid red;
  }
}

body {
  font-family: 'Arial', Helvetica, sans-serif;
  background: black;
  color: white;
}

header {
  background-color: black;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.profile {
 background-color: black;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 align-items: center;
}

.icon {
  background-color: black;
  margin-left: 80px;
}

.icon img {
  width: 280px;
}

.container {
  background-color:  black;;
  margin-left: 36px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

.container h1 {
  margin: 0;
  text-align: center;
}

.container h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.container p {
  font-family: monospace;
}

.container p {
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.container ul {
  margin: 0;
  list-style-type: none;
  display: flex;
}

.container ul li {
  margin-right: 8px;
}

.container img {
  width: 60px;
  text-align: center;
}

section {
  text-align: center;
}

.works {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.works img {
  width: 180px;
  border-radius: 24px;
}

.works h1 {
  font-size: 40px;
}

.btn {
  width: 800px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn ul {
  list-style-type: none;
  background-color: #fff0f5;
  cursor: pointer;
}

footer {
  width: 800px;
  text-align: center;
  color: #c0c0c0;
}