body {
  font-family: 'Arial', Helvetica, sans-serif;
  background: black;
  color: white;
}

header {
  background-color: black;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.profile {
 background-color: black;
 width: 800px;
 margin-left: auto;
 margin-right: auto;
 display: flex;
 align-items: center;
}

.icon {
  background-color: black;
  margin-left: 80px;
}

.icon img {
  width: 280px;
}

.container {
  background-color:  black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
}

.container h1 {
  margin: 0;
  text-align: center;
}

.container h2 {
  margin: 0;
  text-align: center;
  margin-bottom: 30px;
}

.container p {
  font-family: monospace;
  margin: 0;
  margin-bottom: 16px;
  text-align: center;
}

.container ul {
  margin: 0;
  padding-left: 70px;
  list-style-type: none;
  display: flex;
  text-align: center;
}

.container img {
  padding: 5px;
  width: 60px;
}

section {
  text-align: center;
}

.works {
  background-color: #fff0f5;
  color: #333;
}

.works .info {
  width: 800px;
  margin: auto;
  font-size: 20px;
}

.works img {
  width: 200px;
  border-radius: 50%;
  border-width: 5px;
  border-style: solid;
  border-color: #db7093;
  margin-top: 10px;
}

.works h1 {
  font-size: 40px;
  margin: 0;
  margin-top: 30px;
}

.works h2 {
  margin: 0;
}

.works p {
  line-height: 1.8;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: snow;
  text-align: center;
}

.btn ul {
  list-style-type: none;
  background-color: #fff0f5;
  border-radius: 8px;
  box-shadow: 0.1px 2px rgbs(0, 0, 0, 1);
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

footer {
  padding:64px 0;
  text-align: center;
  color: #c0c0c0;
}

@media (min-width:900px) {
  header .profile {
    display: flex;
    width: 800px;
    margin: 0 auto;
  }

  header .icon {
    width: 50%;
    align-self: center;
  }

  header .container {
    width: 50%;
  }

  .works section {
    display: flex;
    justify-content: space-between;
  }

  .works .pic {
    width: 40%;
  }

  .works .prof {
    width: calc(60% + 40px);
  }
}

.btn img {
  width: 20px;
  text-align: center;
}

.btn a {
  padding: 20px;
  line-height: 2;
  font-weight: bold;
}
